<a href="https://colab.research.google.com/github/Ayush-Kaushal/GeoLocator/blob/main/Dataset_Preparation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install opendatasets --upgrade --quiet

In [ ]:
import os
import shutil
import torch
import pandas as pd
import numpy as np
import opendatasets as od
import matplotlib.pyplot as plt
from PIL import Image
from pathlib import Path

In [ ]:
od.download('https://www.kaggle.com/datasets/rohanmyer/geotagged-streetview-images-15k')

In [ ]:
DATA_DIR = './geotagged-streetview-images-15k/streetviews'
print(os.listdir(DATA_DIR))
print(len(os.listdir(DATA_DIR)))

['DZ', 'HR', 'TL', 'DK', 'PK', 'VN', 'NO', 'TW', 'XK', 'JP', 'SA', 'IT', 'EC', 'PR', 'NA', 'KR', 'CR', 'MX', 'BD', 'SE', 'RO', 'SY', 'CZ', 'GH', 'DO', 'PL', 'VE', 'MQ', 'AR', 'EG', 'MD', 'CO', 'NZ', 'KG', 'MY', 'AD', 'EE', 'LT', 'MK', 'NG', 'IN', 'CA', 'GE', 'PG', 'GN', 'ES', 'IL', 'MT', 'HN', 'AM', 'ZA', 'FI', 'HK', 'CH', 'VU', 'CI', 'BA', 'BG', 'KH', 'US', 'MA', 'SV', 'CU', 'TT', 'ID', 'RE', 'GT', 'KE', 'HT', 'PT', 'PS', 'UA', 'BE', 'SK', 'FR', 'GB', 'BW', 'PA', 'CL', 'TN', 'BR', 'RS', 'KZ', 'TH', 'UY', 'IR', 'AU', 'ME', 'MM', 'CG', 'SL', 'TZ', 'LK', 'CN', 'IQ', 'IE', 'AT', 'MN', 'PE', 'TR', 'DE', 'RW', 'RU', 'BY', 'NL', 'UZ', 'PH', 'GM']
108

In [ ]:
df = pd.DataFrame(columns=['latitude', 'longitude'])
df

Empty DataFrame
Columns: [latitude, longitude]
Index: []

In [ ]:
new_dir = './Streetview_Images'
if not os.path.exists(new_dir):
    os.makedirs(new_dir)
else:
    shutil.rmtree(new_dir)           # Removes all the subdirectories!
    os.makedirs(new_dir)

count = 10000

for i in range(len(os.listdir(DATA_DIR))):
  file_path = os.path.join(DATA_DIR, f"{os.listdir(DATA_DIR)[i]}")

  for img in os.listdir(file_path):
    img_path = os.path.join(file_path, img)

    coord = Path(img_path).stem.split(',')
    lat = float(coord[0])
    longt = float(coord[1])
    df = df.append({'latitude': lat, 'longitude': longt}, ignore_index=True)

    #new_dir = './Streetview_Images'
    new_img_name = str(count) + ".png"
    new_path = os.path.join(new_dir, new_img_name)
    shutil.copy(img_path, new_path)

    count += 1
    # im = Image.open(img_path)
    # plt.imshow(im)

In [ ]:
df

       latitude  longitude
0      36.53549    3.83618
1      36.55213    4.48846
2      36.61954    4.08282
3      43.48516   16.09528
4      43.89607   16.12058
...         ...        ...
15224  14.56420  121.01476
15225   9.33370  122.86370
15226  14.48515  121.30949
15227  16.41240  120.71072
15228  13.63855  -15.61482

[15229 rows x 2 columns]

In [ ]:
#df.to_csv('Coordinates.csv')

In [ ]:
len(os.listdir(new_dir))

15229

In [ ]:
# !zip -r /content/Streetview_Images.zip /content/Streetview_Images

In [ ]:
od.download('https://www.kaggle.com/datasets/paulchambaz/google-street-view')

In [ ]:
other_dir = './google-street-view/dataset/'

df2 = pd.read_csv(other_dir + 'coords.csv', header=None)
df2.columns = ['latitude', 'longitude']
df2

       latitude   longitude
0     20.824885  -98.499517
1     -3.451752  -54.563937
2    -23.496464  -47.460542
3    -16.548678  -72.852778
4    -35.010870  140.064397
...         ...         ...
9995  11.529776    8.653117
9996 -20.213648  -50.071765
9997  55.640605   52.702265
9998 -33.285317  146.590469
9999  38.774022   35.729394

[10000 rows x 2 columns]

In [ ]:
len(os.listdir(other_dir))

10001

In [ ]:
os.listdir(other_dir)[-1]

'6544.png'

In [ ]:
img6544 = other_dir+'6544.png'
Image.open(img6544)
from google.colab import files
files.download(img6544)

In [ ]:
df_final = pd.concat([df2, df])
df_final

In [ ]:
df_final.iloc[10000]

latitude     36.53549
longitude     3.83618
Name: 0, dtype: float64

In [ ]:
len(df_final)

25229

In [ ]:
df_final.to_csv('coordinates.csv')

In [ ]:
final_dir = './Streetview_Dataset'
if not os.path.exists(final_dir):
    os.makedirs(final_dir)
else:
    shutil.rmtree(final_dir)           # Removes all the subdirectories!
    os.makedirs(final_dir)

In [ ]:
img_dir1 = './google-street-view/dataset'

for image in os.listdir(img_dir1)[:10000]:
    pth = os.path.join(img_dir1, image)
    new_pth = os.path.join(final_dir, image)
    shutil.copy(pth, new_pth)

In [ ]:
len(os.listdir(final_dir))

10000

In [ ]:
img_dir2 = './Streetview_Images'

for image in os.listdir(img_dir2):
    pth = os.path.join(img_dir2, image)
    new_pth = os.path.join(final_dir, image)
    shutil.copy(pth, new_pth)

In [ ]:
len(os.listdir(final_dir))

25230

In [ ]:
!zip -r /content/Streetview_Dataset.zip /content/Streetview_Dataset

In [ ]:
!unzip -FF /content/Streetview_Dataset.zip